<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>

    <%!-- fonts --%>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
  <%= render "_admin_menu.html", assigns %>
    <header class="flex p-4 items-center justify-center md:p-24">
      <h1 class="text-xl source-code-pro">
        owozsh
      </h1>
    </header>
    <div class="flex flex-col w-full items-center">
      <main class="flex flex-col w-full md:w-10/12 lg:w-1/2 p-4 items-center border border-solid border-stone-200">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
